/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Media Queries
# Common
    - Animation & Keyframes
# Slider
    - Container
    - Image, Video
    - Editor
    - Navigation
    - Indicators
--------------------------------------------------------------*/
/***************************************************************
* MEDIA QUERIES
***************************************************************/
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .t-gallery-slider-editor {font-size: 11px}
}

/***************************************************************
* Common
***************************************************************/
/* == Animation & Keyframes ============================== */
@-webkit-keyframes fadeEffect {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fadeEffect {
  from {opacity: .4} 
  to {opacity: 1}
}

.fadeIn {
  /* Others */
  -webkit-animation-name: fadeEffect;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeEffect;
  animation-duration: 1.5s;
}
/***************************************************************
* Slider
***************************************************************/
/* == Container ======================================== */
.rt-gallery-slider {
  /* Display */
  display: none;

  /* Box Model */
  height: 420px;
}

/* Slideshow container */
.rt-gallery-slider-container {
  /* Positioning */
  position: relative;

  /* Box Model */
  margin: auto;
  height: 420px;
  width: 100%;
}


/* == Image & Video ==================================== */
.rt-gallery-slider-img, .rt-gallery-slider-video {
  /* Box Model */
  width: 100%;
  height: 420px  !important;

  /* Others */
  vertical-align: middle;
  object-fit: cover;
}

/* == Editor =========================================== */
.rt-gallery-slider-editor {
  /* Positioning */
  left: 0;
  position: absolute;
  top: 0;

  /* Box Model */
  border-radius: 10px;
  height: auto;
  padding: 5px;
  width: auto;

  /* Colors and Typography */
  background: #000;
  color: #fff;
  font-size: 15px;

  &:hover {
    /* Box Model */
    border-color: greenyellow;
    border-style: solid;
    border-width: 2px !important;
  }
}

.rt-gallery-slider-editor-control {
  /* Box Model */
  margin: 0 !important;
  padding: 5px !important;

  a {
    /* Colors and Typography */
    color: #fff !important;
  }

}
/* == Navigation ======================================= */
.rt-gallery-slider-btn-previous,
.rt-gallery-slider-btn-next {
  /* Display */

  /* Positioning */
  position: absolute;
  top: 35%;

  /* Box Model */
  border-radius: 0 3px 3px 0;
  padding: 16px;
  width: auto;
  
  /* Colors and Typography */
  color: white;
  font-weight: bold;
  font-size: 18px;
  
  /* Others */
  cursor: pointer;
  transition: 0.6s ease;
  user-select: none;

  /* On hover, add a black background color with a little bit see-through */
  &:hover {
    /* Colors and Typography */
    background-color: rgba(0,0,0,0.8);
  }
}

/* Position the "rt-gallery-slider-btn-next button" to the right */
.rt-gallery-slider-btn-next {
  /* Positioning */
  right: 0;

  /* Box Model */
  border-radius: 3px 0 0 3px;
}

.rt-gallery-slider-indicator-container {
  /* Colors and Typography */
  text-align: center;
}

/* == Indicators ======================================= */
.rt-gallery-slider-indicator {
  /* Display */
  display: inline-block;

  /* Box Model */
  border-radius: 50%;
  height: 15px;
  margin: 0 2px;
  width: 15px;

  /* Colors and Typography */
  background-color: #bbb;

  /* Others */
  transition: background-color 0.6s ease;
}

.rt-gallery-slider-indicator-active {
  /* Colors and Typography */
  background-color: #717171;
}